/* @override 
	http://www.princeton2010.org/media/style.css
*/

body{
	font-family: Helvetica, Arial, sans-serif;
	background: #353635 url(images/graybg.gif) repeat-x top center;
	color: #2a2a2a; 
	margin: 0px;
	font-size: 14px;
}

#super {
	margin: auto;
	background: transparent url(images/bg.gif) top center no-repeat;
}

#login {
	font-family: Lucida Grande;
	float: right;
	padding: 32px 16px 0 0;
	font-size: 11px;
}

#login .fblogin {
	padding: 0 4px 0 0;
	position: relative;
}

#container {
	margin: auto;
	width: 800px;	
	background-color: #ffffff;
}

#dues {
	float: left;
	padding: 22px 10px 18px 10px;
	background-color: #e75c01;
	color: #fff;
	font-weight: bold;
	height: 8px;
}

#dues form {
	display: inline;
}

#dues input {
	margin: -10px 0;
	position: relative;
	top: -3px;
}

#header {
	padding: 30px 45px 0px 20px;
	width: 250px;
	float: left;
	height: 65px;
}

#header a img {
	border: none;
	text-decoration: none;
}

#line {
	height: 60px;
	border-left: 1px solid #e9e9e9;
	float: left;
}

#navbar {
	background: #ededed url(images/navbar.gif) top center repeat-x;
	text-align: right;
	height: 18px;
	padding-bottom: 15px;
	clear: both;
}

#navbar a {
	padding: 5px 10px;
	font-size: 12px;
}

#navbar li {
	display: inline;
}

#navbar li.selected a {
	background: #e75c01 url(images/navbar-hover.gif) top center repeat-x;
	color: white;
}

#navbar a:hover {
	background: #e75c01 url(images/navbar-hover.gif) top center repeat-x;
	color: white;
}

#image {
	width: 800px;
	height: 295px;
	line-height: 0px;
	background: #e75c01 url(images/bgimage1.jpg) no-repeat top left;
}

body.events #image {
	background: #e75c01 url(images/bgimage2.jpg) no-repeat top left;
}


body.ag #image {
	background: #e75c01 url(images/bgimage3.jpg) no-repeat top left;
}


body.reunions #image {
	background: #e75c01 url(images/bgimage4.jpg) no-repeat top left;
}


body.blogs #image {
	background: #e75c01 url(images/bgimage5.jpg) no-repeat top left;
}

body.links #image {
	background: #e75c01 url(images/bgimage6.jpg) no-repeat top left;
}

#box {
	line-height: 18px;
	background-color: #e75c01;
	margin-top: 67px;
	width: 275px;
	height: 180px;
	float: right;
	color: white;
	padding-top: 5px;
	overflow: hidden;
}


.boxpad {
	margin: 20px;
}

#box a, #box a:visited{color: white; border-bottom: 1px dotted white;}
#box a:hover {color: #353635; border-bottom: 1px dotted #353635;}

#content {
	padding: 20px;
	background-color: #ededed;
	width: 760px;
}

#content a {
	border-bottom: 1px dotted #2a2a2a;
}

#content a:hover {
	color: #e75c01;
	border-bottom: 1px dotted #e75c01;
}

div.sidebar {
	float: right;
	width: 300px;
	padding: 30px;
	background-color: #ccc;
}

div.sidebar h3 {
	margin-top:  0;
}

div.sidebarclear {
	clear: both;
}

#email {
	padding: 10px 0px 0px 95px;
}

#footer {
	margin: auto;
	background-color: #353635;
	width: 780px;
	border: 1px solid #4a4b4a;
	border-top: none;
	color: rgb(170, 170, 170);
	margin-bottom: 20px;
}

#footer p {
	margin: 6px 10px;
	font-size: 9px;
}

/* Officers page */

body.officers #image {
	background: #e75c01 url(images/officers.jpg) no-repeat top left;
}

div#officers {
	width: 30em;
	margin: auto;
}

div.officer {
	position: relative;
	min-height: 200px;
	padding: 2em 0 2em 140px;
}

div.officer img {
	position:  absolute;
	left: 0px;
	top: 2.3em;
}

div.officer a {
	font-weight: bold;
}

a, a:visited {
	text-decoration: none;
	color: #2a2a2a;
}

.clear{clear: both}
.left{float: left;}
.right{float: right;}

#blogsubscribe {
	display: inline-block;
	font-size: 18px;
}

#blogsubscribe img {
	vertical-align: middle;
	margin: -10px 0;
	position: relative;
	top:  -4px;
}

#blogsubscribe {
  background: #ccc;
  background: -moz-linear-gradient(0% 100% 90deg, #bfbfbf, #eee);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#bfbfbf));
  border: 1px solid #ccc !important;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: inset 0 0 5px #f5f5f5;
  -moz-box-shadow: inset 0 0 5px #f5f5f5;
  -webkit-box-shadow: inset 0 0 5px #f5f5f5;
  color: #333;
  font-weight: bold;
  line-height: 1;
  padding: 14px;
  text-align: center;
  text-shadow: 0 1px 0px #eee;
}

#blogsubscribe:hover {
  background: #dfdfdf;
  background: -moz-linear-gradient(0% 100% 90deg, #aaa, #dfdfdf);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dfdfdf), to(#aaa));
  box-shadow: inset 0 0 5px #e5e5e5;
  -moz-box-shadow: inset 0 0 5px #e5e5e5;
  -webkit-box-shadow: inset 0 0 5px #e5e5e5;
}

#blogsubscribe:active {
  background: #bfbfbf;
  background: -moz-linear-gradient(0% 100% 90deg, #eee, #bfbfbf);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bfbfbf), to(#eee));
}

#blogsubscribe img {
	border: 0;
}

div#posts {
	width: 480px;
}

div#posts div#loading {
	color: #999;
	font-weight: bold;
	text-align: center;
	margin-top: 64px;
}

div#posts div#loading img {
	display: block;
	margin-left:  auto;
	margin-right: auto;
	margin-bottom: 12px;
}

div#posts ul {
	margin: 0;
	padding: 0;
}

div#posts ul li {
	list-style-type: none;
	margin-bottom: 20px;
}

div#posts a {
	text-decoration: none;
	border-bottom: 0 !important;
	color: gray;
}

div#posts h6 {
	font-size: 16px;
	margin: 0;
	color: black;
}

div#posts h6 .title {
	text-decoration: underline;
}

div#posts h6 .date {
	font-size: 12px;
	color: gray;
}

div#posts a:hover h6 * {
	color: #e75c01;
}

ul#blogroll {
	float: right;
	font-size: 14px;
	width: 240px;
	margin: 0;
	padding-left: 10px;
	border-left: 1px solid #ccc;
}

#blogroll a {
	border-bottom: 0 !important;
	font-weight: bold;
	display: block;
	padding: 4px;
}

#blogroll a:hover {
	background-color: #ccc;
}

#blogroll li {
	list-style-type: none;
	margin-bottom: 6px;
}

#blogroll .blogtitle {
	text-decoration: underline;
}

#blogroll .sub {
	font-size: 12px;
	font-weight: normal;
	color: #666;
}

#blogroll li.addblog a {
	color: #666;
	font-weight: normal;
	font-size: 12px;
	text-decoration: underline;
	margin-top: 30px;
}

/* Launch party */

body.events h1, body.events h2 {
	text-align: center;
	margin: 4px 0;
}

div.launch {
	margin: 40px 0;
	background-color: #fff;
	border-radius: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 3px 3px 20px #888;
}

div.launch img {
	float: right;
	border-radius: 0 10px 10px 0;
}

div.launch div.details {
	padding: 30px 0 0 20px;
}
