{% load cache cms_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"><html>
<head>
<title>Class of 2010 &raquo; {% page_attribute title %}</title>
<link href="/media/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/media/buttons/css/buttons.css" type="text/css" media="screen">
<script>
function publish() {
FB.ui(
   {
     method: 'stream.publish',
     message: 'Just paid my Princeton 2010 class dues!',
     user_message_prompt: 'Help our class: tell your friends you paid your class dues.'
   },
   function(response) {
     document.getElementById('encourage').innerHTML = "And thanks for sharing on Facebook, too.";
   }
 );
}
</script>
</head>
<body class="{% page_attribute slug %}">
<div id="super">
<div id="container">
<div id="header">
<a href="/"><img src="/media/images/title.gif" alt="Class of 2010, Princeton University"/></a>
</div>

<div id="line">&nbsp;</div>

<div id="navbar">
  {% show_menu 0 0 0 0 %}
</div>

<div id="image">
	<div id="dues">
	Pay your class dues! {{ duesform.render }}
	</div>
	<div id="box">
	<div class="boxpad">
	{% placeholder "Orange Box" %}
	</div>
	</div>
</div>

<div id="content">
{% placeholder "Content" %}
</div>
</div> <!-- container -->

<div id="footer">
	<div class="left"><p>Copyright &copy; {% now "Y" %} The Trustees of Princeton University &middot; All Rights Reserved</p></div>
	<div class="right"><p>Last update: {% now "F j, Y" %}</p></div>
	<div class="clear"></div>
</div>
</div> <!-- super -->

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({appId: '127550550629639', status: true, cookie: true, xfbml: true});
  FB.Event.subscribe('auth.sessionChange', function(response) {
    if (response.session) {
      // A user has logged in, and a new cookie has been saved
    } else {
      // The user has logged out, and the cookie has been cleared
    }
  });
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17868258-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
